<div id="wiki-header">
  <span id="wiki-product">%(wiki_name)s</span>
  <span id="wiki-title">%(title)s</span>

<!-- tabs -->
%(tabs)s
</div>

<div id="wiki-body">
<!-- menu -->
  <div id="wiki-menu">
%(menu)s
  </div>
  
  <div id="wiki-content-wrapper">
<!-- content -->
%(content)s
  </div>
</div>

<!-- footer -->
<div id="wiki-footer">
%(copy)s
</div>
